@media (max-width: 1120px) {   
    .produtividade {
        display: flex;       
    }

    .produtividade .container .trabalhando {
        margin-left: 20px;
        margin-right: 55px;
        width: 50%;
        min-width: 300px;
    }

    .produtividade .produtividade-teste {
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (max-width: 815px) {
    .membros .container {
        flex-direction: column;  
        max-width: 500px;
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
    }

    .membros .aspas {
        left: 15px;
        top: -35px;
    }

    .informacoes-membros{
        max-width: 500px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media (max-width: 750px) {
    .produtividade {
        flex-direction: column;     
    }

    .footer .footer-detalhes {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    .redes-sociais {
        display: flex;
        justify-content: center;
    }
}
