@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    background-color: hsl(217, 28%, 15%);
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    margin-left: 20px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 2em;
    margin-right: 30px;
}

.menu li:hover {
    text-decoration: underline;
}

.main {
    background: hsl(218, 28%, 13%);
}

.acesso {
    background: hsl(217, 28%, 15%) url('../images/bg-curvy-desktop.svg') no-repeat center bottom -150px;
    margin-bottom: 200px;
}

.acesso img {
    margin: 60px 0px 40px 0px;
    padding-left: 280px;
}

.acesso h2 {
    font-size: 4.5em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: 350px;
}

.acesso h4 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
    margin-left: 410px;
}

.acesso p {
    margin-left: 490px;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    background-color: #62E0D9;
    width: fit-content;
    padding: 15px 100px;
    border-radius: 40px;
    margin: 40px 200px;
}

.servicos {
    display: grid;
    grid: "acesso seguranca"
          "colaboracao arquivo";
    margin-bottom: 160px ;
}

.icones-servicos {
    max-width: 200px;
    margin-left: 220px;
}

.icones-servicos h2 {
    padding-top: 20px;
    font-size: 3em;
}

.icones-servicos h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.produtividade {
    display: flex;
    
}

.produtividade img {
    margin: 0 10px 0 100px;
}

.produtividade h2 {
    font-size: 50px;
    
}

.teste:hover {
    text-decoration: underline;
   
}

.membros {
    display: flex;   
    gap: 35px;
    margin: 180px 60px;  
    
}

.membros .foto {
    border-radius: 950px;
    margin: 40px 40px 10px 40px;
}

.membros .informacoes-membros {
    background-color: hsl(219, 30%, 18%);    
}

.membros .informacoes-detalhes {
    display: flex;
    align-items: center;   
}

.inscricao {
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    max-width: 700px;
    margin-left: 270px;
    padding: 35px 150px;
}

.inscricao h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.inscricao h4 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 35px;
}

.inscricao input {
    border-radius: 50px;
    padding: 12px 50px;
    margin-bottom: 10px;
}

.inscricao .erro {
    color: hsl(0, 100%, 63%);

}

.btn-pequeno {
    font-size: 14px;
    background-color: #62E0D9;
    width: fit-content;
    border-radius: 40px;
    padding: 12px 30px;
}

.footer {
    background-color: hsl(216, 53%, 9%);
    padding: 150px;
}

.footer img {
    margin-bottom: 50px;
}

.footer .fa-location-dot {
    color: hsl(0, 0%, 100%);
}

.footer-detalhes {
    display: flex;
    gap: 30px;
}