@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: hsl(217, 28%, 15%);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header .container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}   

.menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 2em;
}

.menu li:hover {
    text-decoration: underline;
}

.acesso {
    background: hsl(217, 28%, 15%) url('../images/bg-curvy-desktop.svg') no-repeat center bottom;
    padding-bottom: 140px;
    background-size: contain;
}

.acesso .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acesso img {
    margin: 60px 0px 40px 0px;
}

.acesso h2 {
    font-size: 3.5em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
}

.acesso h4 {
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    background-color: #62E0D9;
    width: fit-content;
    padding: 15px 100px;
    border-radius: 40px;
    margin: 40px 0;
}

.servicos {
    background-color: hsl(218, 28%, 13%);
}

.servicos .container {
    display: flex;
    background-color: hsl(218, 28%, 13%);
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    column-gap: 140px;
    row-gap: 80px;
    padding-bottom: 180px;
}

.icones-servicos img {
    max-width: 630px;
    
    
}

.icones-servicos h2 {
    padding-top: 20px;
    font-size: 3em;
    text-align: center;
}

.icones-servicos h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
    max-width: 350px;
}

.produtividade {
    background-color: hsl(218, 28%, 13%);
}

.produtividade .container {
    display: flex;
    background-color: hsl(218, 28%, 13%);
    padding-bottom: 200px;
}

.produtividade .container img {
    margin: 0 60px 0 100px;
}

.produtividade .container h2 {
    font-size: 50px;
    
}

.teste:hover {
    text-decoration: underline;  
}

.membros {
    background-color: hsl(218, 28%, 13%);
    padding: 0 0 100px 0;
}

.membros .container {
    display: flex;   
    gap: 35px;
    background-color: hsl(218, 28%, 13%);
    
}

.membros .informacoes-membros {
    background-color: hsl(219, 30%, 18%);
    padding: 30px 24px 10px 30px;
    border: 10px solid hsl(217, 28%, 15%);
    
}

.membros .informacoes-membros p {
    font-size: 15px;
}

.membros .foto {
    border-radius: 50%;
    margin: 30px 15px 15px 0;
    max-width: 50px;
}

.membros .informacoes-detalhes {
    display: flex;
    align-items: center;   
}

.membros .pequenos-detalhes {
    font-size: 12px;
    padding-top: 10px;
}

.membros .pequenos-detalhes h5 {
     padding-top: 8px;
     font-weight: 400;
}

.inscricao {
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    max-width: 700px;
    
    padding: 35px 150px;
}

.inscricao h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.inscricao h4 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 35px;
}

.inscricao input {
    border-radius: 50px;
    padding: 12px 50px;
    margin-bottom: 10px;
}

.inscricao .erro {
    color: hsl(0, 100%, 63%);
}

.btn-pequeno {
    font-size: 14px;
    background-color: #62E0D9;
    width: fit-content;
    border-radius: 40px;
    padding: 12px 30px;
}

.footer {
    background-color: hsl(216, 53%, 9%);
    padding: 150px;
}

.footer img {
    margin-bottom: 60px;
}

.footer i {
    font-size: 20px;
}

.footer-detalhes {
    display: flex;
    gap: 30px;
}