@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: hsl(217, 28%, 15%);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header .container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}   

.menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 2em;
}

.menu li:hover {
    text-decoration: underline;
}

.acesso {
    background: hsl(217, 28%, 15%) url('../images/bg-curvy-desktop.svg') no-repeat center bottom;
    padding-bottom: 140px;
    background-size: contain;
}

.acesso .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acesso img {
    margin: 60px 0px 40px 0px;
}

.acesso h2 {
    font-size: 3.5em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
}

.acesso h4 {
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(to left, #12E0D0, rgb(50, 580, 80));
    width: fit-content;
    padding: 15px 100px;
    border-radius: 40px;
    margin: 40px 0;
}

.btn:hover {
    background: linear-gradient(to right, #12E0D0, rgb(50, 80, 880));
}

.servicos {
    background-color: hsl(218, 28%, 13%);
}

.servicos .container {
    display: flex;
    background-color: hsl(218, 28%, 13%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
    column-gap: 140px;
    row-gap: 80px;
    padding-bottom: 180px;
}

.servicos .icones-servicos {
    background-color: aqu;
    
    max-width: 350px;
}

.icones-servicos h2 {
    padding-top: 25px;
    font-size: 2.5em;   
}

.icones-servicos h4 {
    padding: 20px 0;   
    font-size: 1.2em;
    font-weight: 400;
    max-width: 350px;
}

.produtividade .container {
    display: flex;    
    background-color: hsl(218, 28%, 13%);
    padding-bottom: 200px;
}

.produtividade .container img {
    margin-left: 100px;
}

.produtividade .container h2 {
    font-size: 50px;
    margin-left: 80px;
}

.produtividade .container p {
    font-size: 2px;

}

.teste {
    color: #12E0D0;
}

.teste:hover {
    text-decoration: underline;
    color: #ffffff;
}

.membros {
    background-color: hsl(218, 28%, 13%);
    padding: 0 0 340px 0;
}

.membros .container {
    display: flex;   
    gap: 35px;
    background-color: hsl(218, 28%, 13%);
    max-width: 1000px;
    
}

.membros .informacoes-membros {
    background-color: hsl(219, 30%, 18%);
    padding: 20px 24px 0 30px;
    box-shadow: 8px 8px 15px rgb(20, 25, 25);
    border: 6px solid hsl(217, 28%, 15%);
}

.membros .informacoes-membros p {
    font-size: 11.8px;
}

.membros .foto {
    border-radius: 50%;
    margin: 30px 15px 15px 0;
    max-width: 50px;
}

.membros .informacoes-detalhes {
    display: flex;
    align-items: center;   
}

.membros .pequenos-detalhes {
    font-size: 12px;
    padding-top: 10px;
}

.membros .pequenos-detalhes h5 {
    padding-top: 8px;
    font-weight: 400;
}

.footer {
    background-color: hsl(216, 53%, 9%);
    
}

.footer .container {
    background-color: hsl(216, 53%, 9%);
    
}

.footer .inscricao {
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    max-width: 800px;
    position: relative;
    padding: 35px 60px 30px 60px;
    top: -150px;
    box-shadow: 5px 5px 10px rgb(20, 20, 20);
    
}

.footer .inscricao h2 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 25px;   
}

.footer .inscricao h4 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 35px;
    font-size: 14px;
}

.footer .inscricao .inscricao-detalhes {
    display: flex;
    gap: 25px;   
}

.footer .inscricao input {
    border-radius: 50px;
    padding: 12px 140px;
    margin-bottom: 10px;   
}

.footer .btn-pequeno {
    font-size: 14px;
    background: linear-gradient(to left, #12E0D0, rgb(50, 580, 80));
    width: fit-content;
    border-radius: 40px;
    padding: 12px 30px;
}

.footer .btn-pequeno:hover {
    background: linear-gradient(to right, #12E0D0, rgb(50, 80, 880));
}

.footer .inscricao .erro {
    color: hsl(0, 100%, 63%);
    padding-left: 30px;
}



.footer .container img {
    margin: 0 0 60px 110px;
    
}

.footer .container i {
    font-size: 20px;
}

.footer-detalhes {
    display: flex;
    gap: 30px;
}